# Salin file ini menjadi ".env" lalu isi API key kamu.
# Dapatkan API key gratis di https://aistudio.google.com/app/apikey

GEMINI_API_KEY=isi_api_key_gemini_kamu_di_sini
# Opsional: Jika Anda ingin mengganti versi model AI-nya, secara default menggunakan gemini-3.6-flash
GEMINI_MODEL=gemini-3.6-flash
